@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,700;0,900;1,200&display=swap");

:root {
    --color1: #C271FF;
    --family1: 'Source San 3', sans-serif;
}

html ,body {
    width: 1440px;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin: 0px auto;
}

header {
    position:absolute;
    width: 1041px;
    margin: 35.02px 171.59px;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-titles {
    width: 234px;
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-titles a{
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--family1);
}

.logo {
    width: 172px;
    height: 35px;
}

.top {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsla(0, 0%, 95%, 1.0);
    width: 100%;
    height: 1093px;
    background-image:
        linear-gradient(to top, black, transparent),
        url('images/background.png');
}

.top-up {
    display: grid;
    height: 220px;
    margin-left: 380px;
    padding-top: 213px;
}

.top-up h1 {
    margin: 0px;
    color: white;
    font-size: 106px;
    font-family: var(--family1);
    font-weight: bolder;
    height: 140px;
    width: 884px;
}

.top-up p {
    color: white;
    font-family: var(--family1);
    font-weight: bold;
    margin: 0px;
    font-size: 15px;
    left: 50px;
    width: 400px;
    padding-left: 210px;
}

.top-up button {
    width: 162px;
    height: 44px;
    border-radius: 20px;
    background-color: var(--color1);
    margin-left: 260px;
    margin-top: 33px;
    border: 0px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.top-med {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.top-med h2 {
    font-family: var(--family1);
    font-size: 32px;
    color: white;
    font-weight: 100;
}

.pink {
    color: var(--color1);
}

.pros {
    display: flex;
    flex-direction: row;
    height: 237px;
}

.pros div {
    margin: 50px 80px;
}


.pros div img {
    border-radius: 50%;
}

.pros div h3 {
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.pros div p {
    color: white;
    text-align: center;

}

.quote {
    background-color: var(--color1);
    height: 392px;
    width: 100%;
}

.testimonials {
    position: relative;
    width: 943px;
    height: 160px;
    left: 259px;
    top: 108px;
    display: flex;
    flex-direction: row;
}

.testimonials img {
    border-radius: 50%;
}

.testimonials blockquote {
    color: white;
    font-size: 22px;
    margin-top: 12px;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 40px 40px 0px 40px;
}

.info {
    color: white;
    margin-top: 10px;
    margin-left: 40px;
    font-family: var(--family1);
    font-weight: 100 Italic;
}

.tutorials {
    margin-top: 50px;
    position: relative;
    height: 550px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorials h1 {
    font-size: 32px;
    font-family: var(--family1);
    font-weight: 100;
    top: 85px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.pink-2 {
    color: var(--color1);
    font-weight: 900;
}

.cont-tuto {
    width: 1178px;
    height: 450px;
    display: flex;
    flex-direction: row;
}

.video1 {
    width: 255px;
    height: 335px;
    margin: 0px 20px;
    background-image: url("images/tutorial1.png");
    background-repeat: no-repeat;
}

.video2 {
    width: 255px;
    height: 335px;
    margin: 0px 20px;
    background-image: url("images/tutorial2.png");
    background-repeat: no-repeat;
}

.video3 {
    width: 255px;
    height: 335px;
    margin: 0px 20px;
    background-image: url("images/tutorial3.png");
    background-repeat: no-repeat;
}

.video4 {
    width: 255px;
    height: 335px;
    margin: 0px 20px;
    background-image: url("images/tutorial4.png");
    background-repeat: no-repeat;
}

.logo-video {
    margin-top: 110px;
}

.video-img {
    position: relative;
    left: 95px;
    top: 45px;
}

.cont-tuto div h2 {
    font-family: var(--family1);
    font-size: 14px;
    font-weight: 900;
    margin-left: 12px;
}

.lorem {
    margin: 0px;
    margin-left: 12px;
    font-family: var(--family1);
    font-size: 12px;
    line-height: 1.9;
    color: #6f7071;
}

.user-score {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10px;
    top: 10px;
}

.user-score img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.user-score h3 {
    position: relative;
    height: 27px;
    width: 96px;
    color: var(--color1);
    font-family: var(--family1);
    font-weight: 500;
    font-size: 12px;
    top: -4px;
    left: 10px;
}

.score {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 10px;
}

.time {
    position: relative;
    right: 50px;
    color: var(--color1);
    font-family: var(--family1);
    font-size: 14px;
    margin: 0px;
}

.mermerships {
    background-color: #071629;
    width: 100%;
    height: 502px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-mermerships {
    position: relative;
    bottom: 60px;
    font-family: var(--family1);
    font-size: 32px;
    font-weight:100;
    color: white;
}

.mem-pick {
    color: var(--color1);
    font-weight: bold;
}

.members {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 30px;
}

.members div {
    height: 153px;
    width: 257px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px 20px;
}

.members div img {
    height: 35.35px;
    width: 43.67px;
}

.members div h2 {
    font-family: var(--family1);
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.members div p {
    font-family: var(--family1);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 200px;
    margin: 0px;
    line-height: 2;
    color: rgb(202, 202, 202);
}

.mem-button {
    width: 162px;
    height: 44px;
    border-radius: 25px;
    background-color: var(--color1);
    color: white;
    font-family: var(--family1);
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 60px;
    cursor: pointer;
}

.FAQ {
    height: 854px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-faq {
    font-family: var(--family1);
    font-size: 60px;
    font-weight: 100;
    margin: 0px;
    position: relative;
    margin: 10px;
    top: 10px;
}

.faq-row {
    display: flex;
    flex-direction: row;
}

.faq-col {
    display: flex;
    flex-direction: column;
}

.faq-cont {
    width: 370px;
    height: 242px;
    margin: 45px 120px;
}

.faq-cont h2 {
    font-family: var(--family1);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}

.faq-cont p {
    font-family: var(--family1);
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.8;
    color: rgb(143, 143, 143);
}

footer {
    width: 100%;
    height: 249px;
    background-color: #071629;
}

.cont-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-footer {
    position: relative;
    right: 140px;
    top: 20px;
}

.img-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.socials {
    position: relative;
    left: 80px;
    top: 20px;
}

.socials a img {
    cursor: pointer;
    margin: 8px;
}

.down-title {
    color: rgb(186, 183, 183);
    font-family: var(--family1);
    font-size: 12px;
    position: relative;
    top: 50px;

}